body {font-family: "Times New Roman", Times, serif; background-color: rgb(150, 150, 150)}
h1 {font-size: 70px;color:rgb(0, 88, 170)}
p { border:1px solid grey;
    padding:10px;
    margin:30px;
    font-size:150%;
    background-color:rgb(32, 107, 117); color:rgb(255, 255, 255);
}
pre{color: white}
#home{font-family: 'Courier New', Courier, monospace}

a:link{
    color:black;
    background-color: transparent;
    text-decoration:none;}

a:visited {
  color:rgb(251, 255, 0);
  background-color: transparent;
  text-decoration: underline;
}  
a:hover {
    color:white;
    background-color: transparent;
    text-decoration: underline;
  }
  table{
    font-family: arial, sans-serif;
    border-collapse:collapse;
    width: 100%;

    
}
td, th{
    border :3px solid black;
    text-align:left;
    padding:8px;
    text-align: center;
}
th#c4{
    background-color:rgb(255, 255, 0);
}
tr:nth-child(even) {
    background-color:;
      }
      
td.down{
    color:rgb(0, 0, 255);
}
td.up{
    color:red;
}
td.down-back{
    background-color:rgb(0, 0, 255,0.5);
}
td.up-back{
    background-color:rgb(255, 0, 0,0.5);
}
caption{
    font-size:30px;
    margin-bottom: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}